.padre{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.contenidoUno{
    border: 2px solid black;
    width: 40%;

    border-radius: 1%;
   padding: 1%;
   background-color: #d8d8c0;
}
.contenidoUno h1{
    text-align: center;
}
.contenidoUno:hover{
    border-color: #839cb5;
}
.ats{
    border: 1px dashed black;
    margin: auto;
    width: 90%;
}
.contenidoDos{
    border: 2px solid black;
    width: 40%;

    border-radius: 1%;
    padding: 1%;
    background-color: #d8d8c0;
}
.contenidoDos:hover{    
    border-color: #839cb5;
}
footer .correo {
    display: flex;
    
}
@media (max-width: 800px) {
    .padre {
      flex-direction: column;
      
    }
    .contenidoDos{
        width: auto;
    }
    .contenidoUno{
        width: auto;
    }
  }