*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0d8;
    font-family: cursive;
}
main{
    background-color: #d8d8c0;
    margin-left: 1%;
    margin-right: 1%;
}
header{
        width: 100%;
        overflow: hidden;
        background: #252932;
        margin-bottom: 1%;    
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo{
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}
header nav{
    float: right;
    line-height: 200px;
}
header nav a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px ,20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header nav a:hover{
background: #f56f3a;
border-radius: 5px;
}
/* .header2{
    position: fixed;
    height: 100px;
} */
.header2 .logo{
line-height: 100px;
font-size: 30px;
}
.header2 nav{
    line-height: 100px;
}
.selfie img {
    width: 30%;
   border-radius: 100%;
   /* margin-top: 0; */
   float: right;
   border: 2px dashed black;
}
.gio{
    text-shadow: 2px 2px 5px red;
}
.piedepag{
    border: 1px solid black;
background-color: lightgray;
color: black;
margin-left: 5%;
margin-right: 5%;
height: 150px;
border-radius: 20px;
text-align: center;
margin-top: 1%;
margin-bottom: 1%;
}
.acerca{
    margin-top: 5%;
    border: 1px solid black;
    width: 60%;
    border-radius: 1%;
    padding: 1%;
    box-shadow: 5px 5px 5px #839cb5 inset;

}
/* p{
    float: left;
} */